#casenote-copy-btn {
    display: block;
    width: fit-content;
    margin: 5px auto 10px 0;

    padding: 3px 8px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    
    background-color: #1869b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
}

#casenote-copy-btn:hover {
    background-color: #18436f;
}

/* 판례 페이지 복사 버튼 */
.casenote-precedent-copy-btn {
    padding: 3px 8px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    height: fit-content;
    vertical-align: middle;
    
    background-color: #1869b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
}

.casenote-precedent-copy-btn:hover {
    background-color: #18436f;
}

.panel-heading {
    display: flex !important;
    align-items: center !important;
}

#casenote-search-icon {
  position: absolute;
  z-index: 99999;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 0;
}

.casenote-highlight-wrapper {
    display: contents;
}

.casenote-highlight {
    background-color: rgba(0, 122, 255, 0.1);
    border-radius: 3px;
    padding: 1px 2px;
    margin: -1px -2px;
    
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    transition: background-color 0.2s ease-in-out;
}

.casenote-highlight:hover {
    background-color: rgba(0, 122, 255, 0.2);
}